<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <!--        <bizspicepayment>-->
            <banwirecard>
                <active>1</active>
                <!--            <model>Banwire\Card\Model\BanwirePaymentMethod</model>-->
                <model>Banwire\Card\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Banwire Card Payment</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <cctypes>AE,VI,MC</cctypes>
                <allowspecific>0</allowspecific>
                <min_order_total>1</min_order_total>
            </banwirecard>
        </payment>
    </default>
</config>
